name: Build ZMK firmware
on:
  workflow_dispatch:
  push:
    paths-ignore:
      - "keymap-drawer/**"

jobs:
  build:
     uses: petejohanson/zmk/.github/workflows/build-user-config.yml@core/main-work-queue
